
 .modal {
    margin-top: 70px;
    display: none;
    position: fixed;
    z-index: 8;
    left: 25vw;
    top: 0;
    width: 50vw;
    height: 48vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
  button.button {
    /* background-color: #666; */
    background: none;
    /* border-top: none; */
    outline: none;
    /* border-right: none; */
    /* border-left: none; */
    /* border-bottom: #02274a 1px solid; */
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  button.button2:hover {
    /* border-bottom: #a99567 1px solid; */
    color: #a99567;
  }
  button.button i {
    color: #666;
  }

  input[type=skilltext] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .rate{
    
    margin-right: 500px;
    font-size: 12pt;
  }
  
  
  .button2 {
    width: 100%;
    background-color: #2B65EC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button2:hover {
    background-color: #2b65ecad;
    
  }
  .selection {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .containerx{
      font-size: 25px;
      text-align: right;
      text-align: left;
      
  }
  .table{
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    font-weight: normal;
    
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid rgb(253, 253, 253);
  text-align: center;	
  font-size:18px;
  border-bottom: 1px solid rgb(43, 49, 233);
}

.table th{
    background-color: #9ac3f8;
    color:#5a5858;
    font-weight: normal;
}
/* .hello{
    width: 40%;
    background-color: #2B65EC;
    color: #ffffff;
    padding: 4px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    
}
.hello:hover{
    background-color:#2b65ecad;
} */



/* .table tbody tr:nth-child(even){
    background-color: #94aef3;
}
.table tbody tr:nth-child(odd){
    background-color: #bcc9ee;
}
   */

  
  

  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

@media (min-width: 800px) {

    .item1 { grid-area: one; }
    .item2 { grid-area: two; }
    .item3 { grid-area: three; }
    

    .container {
        padding: 30px;
        display: grid;
        grid-template-areas:
        'one two two three'  ;   
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 12px 30px;
        background: #ffffff;
    }

    .containerN {
        padding: 30px;
        display: grid;
        grid-template-areas:
        'one two two '   ;  
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 12px 20px;
        background-color: #ffffff;
        margin-left: 244px;
    }

    .container >div{
        border-top-style: solid;
        border-top-color: #2B65EC;
        border-top-width: 3px;
        text-align: center;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 5px #d3d2d2;
    }

    .item1, .item2{
        margin-top: 50px;
    }
    .item3 {
        margin-top: 50px;
        width: 30vw;
    }
   

    .img-card{
        margin: auto;
        margin-top: 50px;
        justify-content: center;
        width: 250px;
        height: 250px;
    }

    #photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    #file{
        justify-content:space-evenly;
        display: none;

    }

    #sbtbtn{
        position: relative;
        margin-top: 50px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #2B65EC;
        width: 120px;
        height: 35px;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12pt;
        cursor: pointer;
    }

    #sbtbtn:hover{
        background-color:#2b65ecad;
    }

    #uploadBtn{
        position: relative;
        top: 20px;
        height: 25px;
        width: fit-content;
        padding: 10px;
        color: white;
        background-color: #2B65EC;
        font-size: 11pt;
        font-family:Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #uploadBtn:hover{
        background-color:#2b65ecad ;
    }

    .data-form{
        justify-content: center;
        margin-top: 50px;
        font-family: 'Times New Roman', Times, serif;
    }

    .data-form label{
        text-align: left;
        width: 180px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .input-fields{
        width: 220px; 
        padding: 7px; 
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;  
        border-radius: 5px;
        border: 1px solid #c0bfbf;
    }

    .input-fields:focus{
        outline: none !important;
    }

    .button1{
        margin-top: 50px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #2B65EC;
        width: 120px;
        height: 35px;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12pt;
        cursor: pointer;
    }

    .button1:hover{
        background-color:#2b65ecad ;
    }
    /*skill part */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    /* body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #250a3c;
    } */
    
    .containerx {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1px;
        /* box-shadow: -1px -1px 2px #e1e1ff40, inset 2px 2px 5px #e1e1ff40, 8px 30px 30px #00000066, inset -2px -2px 5px #0000004d; */
        border-radius: 10px;
    }
    
    .containerx .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        /* box-shadow: -1px -1px 2px #e1e1ff40, inset 2px 2px 5px #e1e1ff40, 8px 30px 30px #00000066, inset -2px -2px 5px #0000004d; */
        padding-right: 10px;
        transition: 0.5s;
        padding-right: 24px;
    }
    
    .containerx:hover .skills {
        filter: blur(0px);
        opacity: 0.2;
    }
    
    .containerx .skills:hover {
        filter: blur(0px);
        opacity: 1;
    }
    
    .skills h3 {
        min-width: 180px;
        text-align: right;
        padding-right: 50px;
        color: rgb(10, 10, 10);
        font-size: 12pt;
        font-weight: 400;
        letter-spacing: 2px;
        
    }
    
    

    /*pop up ui*/
    .button{
        margin-top: 10px;
    }
   


   

    

}

@media (max-width: 799px) {
    
    .item1 { grid-area: one; }
    .item2 { grid-area: two; }
    

    .container {
        padding: 30px;
        display: grid;
        grid-template-areas:
        'one'
        'two'  ;   
        background: #eeeeee;
        justify-content: center;
    }


    .container >div{
        text-align: center;
        font-size: 16px;
        padding: 20px;
        font-weight: 500;
        background-color: #ffffff;
    }

    .item1, .item2{
        margin-top: 50px;
    }

    .item1{
        height: 320px;
    }

    .item2{
        height: 500px;
    }
    

    .img-card{
        margin: auto;
        margin-top: 20px;
        justify-content: center;
        width: 200px;
        height: 200px;
    }

    #photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    #file{
        justify-content:space-evenly;
        display: none;

    }

    #sbtbtn{
        position: relative;
        margin-top: 50px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #2B65EC;
        width: 120px;
        height: 35px;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11pt;
        cursor: pointer;
    }

    #uploadBtn{
        position: relative;
        top: 20px;
        height: 25px;
        width: 50px;
        padding: 10px;
        color: white;
        background-color: #2B65EC;
        font-size: 11pt;
        font-family:Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
        border-radius: 5px;
    }

    .data-form{
        justify-content: center;
        margin-top: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

    .data-form label{
        text-align: left;
        width: 170px;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 12pt;
    }

    .input-fields{
        width: 210px; 
        padding: 7px; 
        font-family: 'Times New Roman', Times, serif;
        font-size: 11pt;  
        border-radius: 5px;
        background-color: rgb(225, 229, 231);
        border: 1px solid #c0bfbf;
    }

    .input-fields:focus{
        outline: none !important;
    }

    .button{
        position: relative;
        margin-top: 50px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #2B65EC;
        width: 120px;
        height: 35px;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12pt;
        justify-content: center;
        cursor: pointer;
    }
    
    
}

@media (max-width: 499px) {
    
    .item1 { grid-area: one; }
    .item2 { grid-area: two; }

    .container {
        padding: 30px;
        display: grid;
        grid-template-areas:
        'one'
        'two'  ;   
        background: #ffffff;
        justify-content: center;
    }


    .container >div{
        text-align: center;
        font-size: 15px;
        padding: 20px;
        font-weight: 500;
        background-color: #ffffff;
    }

    .item1{
        margin-top: 30px;
        height: 300px;
    }
    
    .item2{
        margin-top: 20px;
        height: 600px;
    }

    .img-card{
        margin: auto;
        margin-top: 20px;
        justify-content: center;
        width: 200px;
        height: 200px;
    }

    #photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    #file{
        justify-content:space-evenly;
        display: none;

    }

    #sbtbtn{
        position: relative;
        margin-top: 40px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #2B65EC;
        width: 120px;
        height: 35px;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11pt;
        cursor: pointer;
    }

    #sbtbtn:hover{
        background-color:#2b65ecad ;
    }

    #uploadBtn{
        position: relative;
        top: 20px;
        height: 25px;
        width: 50px;
        padding: 10px;
        color: white;
        background-color: #2B65EC;
        font-size: 11pt;
        font-family:Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
        border-radius: 5px;
    }

    #uploadBtn:hover{
        background-color:#2b65ecad ;
    }

    .data-form{
        justify-content: center;
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .data-form label{
        text-align: left;
        width: 170px;
        display: block;
        font-size: 12pt;
        margin-bottom: 5px;
    }

    .input-fields{
        width: 210px; 
        padding: 7px; 
        margin-bottom: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 11pt;  
        border-radius: 5px;
        border: 1px solid #c0bfbf;
    }

    .input-fields:focus{
        outline: none !important;
    }

    .button{
        position: relative;
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #2B65EC;
        width: 120px;
        height: 35px;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12pt;
        justify-content: center;
        cursor: pointer;
    }
    
    .button:hover{
        background-color:#2b65ecad ;
    }
    
}
    



