

/*background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(1px);*/

    nav {
      position: fixed;
      z-index: 10;
      left : 256px;
      /*width: 100%;*/
      right: 0;
      top: 50px;
      font-family: 'Montserrat', sans-serif;
      padding: 10 5%;
      padding-top: 20px;
      height: 40px;
      background-color: #ffffff;
      /* background-color:none; */
      /* visibility: hidden; */
  }
  
  nav .links {
      float: right;
      padding: 0;
      margin: 0;
      width: 600px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  nav .links li {
      list-style: none;
  }
  nav .links a {
      display: block;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 20px;
      color: #2B65EC;
      text-decoration: none;
  }
  
  nav .links a:hover{
    /*color: rgb(0, 255, 106);*/
    border-bottom: 3px solid #7cb3f1;
  }

  #nav-toggle {
      position: absolute;
      top: -100px;
  }
  
  nav .icon-burger {
      display: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 5px;
  }
  nav .icon-burger .line {
      width: 30px;
      height: 5px;
      background-color: #265397;
      margin: 5px;
      border-radius: 3px;
      transition: all .3s ease-in-out;
      
  }
  .activelink{
    font-weight: 550;
}

    
    /*background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(1px);*/

    .flex-container {
        display: flex;
        margin-top: 100px;
        margin-left: 90px;
        margin-right: 40px;
        flex-wrap: wrap;
        height : 30vh;
        /* background-color: #ffffff;
        border: 1px solid #777ee0; */
        background-color: #ffffff;
        width: 90vw;
        
        
      }
      
      
      .btns{
          /*height : 10vh;*/
          margin-top: 350px;
          background-color: #ffffff;
          /*width : 90vw;*/
          display: flex;
          margin-left: auto;
          margin-right: 350px;
          
      }
      /* .button {
        background-color: #9ac3f8;
        
        border: none;
        color: rgb(255, 255, 255);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        
      } */
      
      /* .button1 {background-color: #9ac3f8;}  */
      
     
      
      .modal {
        margin-top: 70px;
        display: none;
        position: fixed;
        z-index: 8;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }
      .modal-content {
        margin: 50px auto;
        border: 1px solid #999;
        width: 60%;
      }

      h3{
        text-align: left;
        margin: 0 0 20px;
        /* font-weight: 100; */
        font-size: 30px;
        color: rgb(0, 0, 0);
      } 
      /* span {
        text-align: left;
        font-size: 20px;
        color: #666;
        display: block;
        padding: 0 0 5px;
      } */

      .message{
        text-align: left;
        font-size: 20px;
        color: #666;
        display: block;
        padding: 0 0 5px;
      }

      form {
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5;
        background: rgb(255, 255, 255);
        width: 60vw;
        height: 15vh;
        margin-left: 330px;
        margin-top: -10px;
        font-size: 15px;
      }
      input,
      textarea {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #1c87c9;
        outline: none;
      }
      .contact-form button {
        width: 100%;
        padding: 10px;
        border: none;
        background: #1c87c9;
        font-size: 16px;
        font-weight: 400;
        color: rgb(255, 255, 255);
      }
      /* button:hover {
        background: #2371a0;
      } */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      /* button.button {
        background: none;
        border-top: none;
        outline: none;
        border-right: none;
        border-left: none;
        border-bottom: #02274a 1px solid;
        padding: 0 0 3px 0;
        font-size: 16px;
        cursor: pointer;
      }
      button.button:hover {
        border-bottom: #a99567 1px solid;
        
        background-color: #3389fa;
      }
     
      .btns > button{
        background-color: #62a1f3;
        width: 100px;
        height: 30px;
      } */
      .task_view{
        background-color: #c3c8f5;
        display: flex;
        margin-top: 25px;
        margin-left: 350px;
        margin-right: 40px;
        flex-wrap: wrap;
        height : 30vh;
        width: 50vw;
        border-style: solid;
        border-color: rgb(49, 39, 231);
        border-radius: 20px;

      }
      .task_view:hover{
        transform: scale(1.03);
        z-index: 5;
    }
      .details{
        font-size: 20px;
        margin-left: 120px;
        margin-top: 10px;
        font-weight: 600;
        
      }
     


      h1 {
        text-align: center;
      }
      
      #myProgress {
        margin: auto;
        width: 50%;
        background-color: rgb(186, 213, 137);
        margin-top: 9px;
        height: 30px;
        border-radius: 40px;
        
      }
      /* #myProgress:hover{
        transform: scale(1.03);
        z-index: 5;
    } */
      
      #myBar {
        width: 0%;
        height: 30px;
        background-color: green;
        
        
      }
      .sub{
        margin-left: 100px;
      }
      
      
      .buttonHold {
        text-align: center;
        width: 50%;
        
      }

      .buttonHold a{
        color: black;
        text-decoration: none;
      }

      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        margin-left: 5%;
      }
      .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
        border-radius: 40px;
        margin-left: -30px;
        
      }
      .button1:hover{
        background-color: #d36e66;
        transform: scale(1.10);
        z-index: 5;
      }
      .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
        border-radius: 40px;
        width: 18vw;
      }
      .button2:hover{
        background-color: #6ed672;
        transform: scale(1.10);
        z-index: 5;
        
      }
     

      

      
    
      



@media (min-width: 800px) {
        
    .container {
        padding: 20px;
        
        
        height: 82vh;
    }

    /* .containerN {
        padding: 30px;
        
        
        height: 82vh;
        margin-left: 244px;
    } */

    .container >div{
        
        text-align: center;
        font-size: 28px;
        
        padding: 40px;
        color: #245bd1;
        
        font-weight: 600;
    }
    
   
    .open-img{
        width: 194px;
    }

}

@media (max-width: 799px) {


    .text{
        font-weight: bold;
        margin-top: 80px;
    }
    
    .open-img{
        visibility: hidden;
    }


    .date{
        visibility: hidden;
    }
    .flex-container{
        margin-top: 100px;
        height : 71vh;
        width: 94vw;
        margin-left: 20px;
    }
    .content{
        height:50vh;
        margin-top: 10px;
        margin-left: 12px;
    }
    .btns{
        width : 50vw;
        margin-left: 100px;
        margin-top: -60px;
    }
    .button{
        width: 90vw;
        margin-left: -90px;
        
    }
    .progress{
        margin-top: 10px;
    }

    .btns > button{
        background-color: #2371a0;
        margin: 10px;
      }
    
   

    
}
    
@media (max-width: 567px) {

  
    nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 60%;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(121, 121, 121, 0.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
        background-color: rgb(255, 255, 255);
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
        background-color: #265397;
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
        background-color: #265397;
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}


}
@media (max-width: 420px){
    .flex-container{
        margin-left: 12px;
        height:72vh;
        
    }
    .content{
        height: 54vh;
    }
    .btns{
        width:70vw;
        margin-left: 70px;
        margin-top: -35px;
    }
    .button{
        margin-top: 0px;
        width:90vw;
        margin-left: -60px;
    }
}
@media (max-width: 320px){
    .flex-container{
        /* margin-left: 5px; */
        width: 100%;
        height:80vh;
        
    }
    .content{
        height: 50vh;
    }
    .btns{
        width:70vw;
        margin-left: 70px;
        /* baaaaad */
        margin-top: 5px;
    }
    .button{
        margin-top: 0px;
        width:90vw;
        margin-left: -60px;
     
    }
}
